<html><body style="background-color:red;"><head><title>FenrirLock</title></head>
<h1>Oh No! All your file are encrypted!</h1>
<p>Contact <b>{{ email_addr }}</b> to recover your files and paste the following key:<br/>{{ encrypted_key }}</p>
</body></html>
<!--
